<div class="standard-header-container">
    <h1 class="standart-main-title">{{currentPost.title}}</h1>
    <h3 class="standart-sub-title">Posted by {{currentPost.author}} in {{currentPost.categoryHref}} on {{formatDate currentPost.date "short"}} | {{lengthOfObject
        comments}}
    </h3>
</div>