<div class="pl-1 pb-4 pt-4 blog-navigation">
    <a href="#!blog">Home</a>
    <span> &#187 </span>
    <a href="#!blog/{{category.href}}">{{category.title}}</a>
    <span class="blog-nav-active">&#187 {{currentPost.title}}</span>
</div>

<div class="row">
    <div class="no-side-padding col-lg-8 posts-container list-unstyled">
        <div class="post-card mb-5">
            <h1 class="post-title mb-3">{{currentPost.title}}</h1>
            <div class="container">
                <img class="post-image float-left" src="../../img/post-img.png" alt="post-image">
                <p>{{currentPost.text}}</p>
            </div>
        </div>

        <div class="" id="wrap-horisontal">
            <div id="gradient-horisontal"></div>
        </div>

        {{!-- COMMENTS --}}
        <div class="comments-container mt-4">
            <h1 class="mb-4">{{lengthOfObject comments}}</h1>
            <ul class="comments no-side-padding list-unstyled">
                {{#each comments}}
                <div class="comment-bubble">
                    <li class="media">
                        <img class="d-flex mr-3" src="../../img/placeholder-66-66.png" alt="comment-author-image">
                        <div class="media-body">
                            <h2>{{this.author}}
                                <span>| {{formatDate this.date "short"}}</span>
                            </h2>
                            <p>{{this.text}}</p>

                            {{!-- If Comment is too long, then show this button!!! --}}
                            <a class="button-1 p-1 button-read-more" href="#!blog/{{currentPost.categoryHref}}/cooment.href/">Read more</a>
                        </div>
                    </li>
                    <div class="comment-bubble-arrow"></div>
                </div>
                {{/each}}
            </ul>

            {{!-- Post input text area --}}
            <form class="form-horizontal col-lg-6">
                <!-- Form Name -->
                <legend>Comment on post:</legend>
                <div class="form-group">
                    <div class="col">
                        <textarea id="post-text" name="post-text" rows="6" class="form-control input-md"></textarea>
                    </div>
                </div>
                <!-- Button -->
                <div class="form-group">
                    <label class="col control-label" for="add-comment-button"></label>
                    <div class="col">
                        <div id="add-comment-button" name="add-comment-button" class="btn btn-primary">Add comment</div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="col-lg-1" id="wrap-vertical">
        <div id="gradient-vertical"></div>
    </div>

    {{!-- Sidebar --}}
    <div class="col-lg-3">
        <div>
            <h3>Recent comments</h3>
            <ul>
                {{#each recentComments}}
                <li>
                    <a href="#!blog/{{this.categoryHref}}/{{this.postHref}}">{{stringTrim this.text 35}}...</a>
                </li>
                {{/each}}
            </ul>
        </div>
        <div>
            <h3>Archives</h3>
            <ul>
                {{#each archivePosts}}
                <li>
                    <a href="#!blog/{{this.categoryHref}}/{{this.href}}">{{this.title}}</a>
                </li>
                {{/each}}
            </ul>
        </div>
        <div>
            <h3>Recent posts</h3>
            <ul>
                {{#each recentPosts}}
                <li>
                    <a href="#!blog/{{this.categoryHref}}/{{this.href}}">{{this.title}}</a>
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>