<a href="#!blog">Home</a>
<span>> {{category.title}}</span>

<div class="row">

    <ul class="col-lg-8 posts-container list-unstyled">

        {{#each posts as |value key|}}

        <li class="post-card">
            <h1 class="post-title">{{value.title}}</h1>
            <h5 class="post-sub-title">Posted by {{value.author}} in {{value.categoryHref}} on {{formatDate value.date "short"}} | Comments</h5>
            <div class="container">
                <img class="float-left" src="../../img/post-img.png" alt="post-image">
                <p>{{stringTrim value.text 630}}...</p>
            </div>
            <button class="button-1 p-1 mr-4 button-read-more">Read more</button>
        </li>
        {{/each}}

    </ul>
    <div class="col-lg-1" id="wrap">
        <div id="gradient"></div>
    </div>
    <div class="col">
        <div>Recent comments</div>
        <div>Archives</div>
        <div>Recent posts</div>
    </div>

</div>